@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model user
@{
    Layout = "_AdminDashboardLayout";

}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    @if (ViewData["MSG"] != null)
                            {
                            <div class="form-row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 alert alert-danger">
                                            <span>@ViewData["MSG"]</span>
                                    </div>
                                </div>
                            </div>
                            }
    <dl class="row">
        <dt class = "col-sm-2">
            user Name:
        </dt>
        <dd class = "col-sm-10">
            @Model.user_name
        </dd>
        <dt class = "col-sm-2">
            user Email:
        </dt>
        <dd class = "col-sm-10">
            @Model.user_email
        </dd>
        <dt class = "col-sm-2">
            user Phone:
        </dt>
        <dd class = "col-sm-10">
            @Model.user_phone
        </dd>
    </dl>
    
    <form asp-action="DeleteUser" asp-controller="Admin" method="post">
        <input type="hidden" asp-for="@Model.user_id" />
        @if (Accessor.HttpContext.Session.GetInt32("UserId") != Model.user_id)
        {
            <input type="submit" value="Delete" class="btn btn-danger" />

        }
        else
        {
            <div class="col-xs-12 alert alert-danger">
                <span>Invalid Action</span>
            </div>
        } 
        <a asp-action="user_list" asp-controller="Admin" style="color: #ffc600">Back to List</a>
    </form>
</div>

